<footer style="background-color: yellow; padding: 20px;">
    <div class="f-info">
        <div class="f-info-social">
            <p>Follow us on HerapheriGram 📸</p>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
        </div>
        <div>&copy; Herapheri Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
