/* body  { 
    background-color: slategray;
} */

.navbar {
    height: 5rem;
    background-color:white;
}

.fa-solid{
    color: aqua;
    font-size: 2rem;
}

.nav-link{
    color: #222222  !important;
}

footer {

};

.f-info-links { 
    text-decoration:none;
    color:#222222;
}

.f-info-links:hover{
    text-decoration: underline;
}

.f-info{
    display: flex;
}