<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Listing</title>
</head>
<body>
    <h1>Create a New Listing</h1>

    <form action="/listings" method="POST">
        <input name="listing[title]" placeholder="Enter Title" type="text">
        <br/><br/>
        <textarea name="listing[description]" placeholder="Enter Description"></textarea>
        <br/><br/>
        <input name="listing[image]" placeholder="Enter image URL" type="text">
        <br/><br/>
        <input name="listing[price]" placeholder="Enter Price" type="number">
        <br/><br/>
        <input name="listing[country]" placeholder="Enter Country Name" type="text">
        <br/><br/>
        <input name="listing[location]" placeholder="Enter location" type="text">
        <br/><br/>
        <button type="submit">Add</button>
    </form>
</body>
</html>
